{% block content %}
<div class="row">
    {% for c in word_list %}
    <div class="col-sm-3">
        <br>
        <div class='card'>
            <div class="card-body">
                <h2>{{ c.get_questions }}</h2>
                <ul class="list-unstyled">
                    {% for a in c.get_answers %}
                    <li>{{ a }}</li>
                    {% endfor %}
                    <li>{{ c.frequency }}</li>
                    </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}