{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <h2>Decks</h2>
    <div class="table-responsive table-hover">
    <table class="table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Cards</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for d in deck_list %}
        <tr>
            <td>{{ d.name }}</td>
            <td>{{ d.word_total }}</td>
            <td><a href="{% url 'deck-word-list' deck_id=d.id %}">Browse</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
{% endblock %}